.xxxixxx{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.tabheader {background-color:white; border-bottom:1px solid black;padding:2px}
.tabheader div { background: linear-gradient(#DDDDFF, #EEEEFF);border: 1px solid grey;margin: 1px;padding: 1px;cursor: default;font-family: sans-serif; font-size: medium; text-align: left; color: black;}
.tabheader div.selected{ background: linear-gradient(#73A5C7, #7878EC);color: white;}
.splitter {background-color: rgb(196, 196, 196);z-index:100;}
.resizer-mirror-tmp {position: absolute; background-color: rgb(196, 196, 196);z-index:200;outline:dotted 1px !important;}
.shift {z-index:1000;background: linear-gradient(#DDDDFF, #EEEEFF);border: 1px solid grey;margin: 1px;padding: 1px;cursor: default;font-family: sans-serif; font-size: medium; text-align: left; color: black;}
.accheader{background: linear-gradient(#DDDDFF, #EEEEFF);border: 1px solid grey;margin: 1px;padding: 1px;cursor: default;font-family: sans-serif; font-size: medium; text-align: left; color: black;}
.accheader.selected{ background: linear-gradient(#73A5C7, #7878EC);color: white;}
.accheaderbody, .tabbody {overflow:auto;}
.menu{ background-color:grey;z-index:120;}
.menu>*{ background-color:lightgrey;}
ul.menu{ padding:0px;margin:0px;background-color:lightgrey;}
ul.menu>li{list-style-type: none;cursor: default;background: linear-gradient(#DDDDFF, #EEEEFF);border: 1px solid grey;margin: 0px;padding: 1px; color: black;white-space: nowrap;}
ul.menu>li:hover{background: linear-gradient(#73A5C7, #7878EC);color: white;}
ul.menubar>li{display:inline-block;};
.slmignore {}
.exclude {}
.snap {}
